body{
    background-color: rgb(231,108,128);
}
.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(224, 206, 224);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 120px;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="email"],


input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 13px;
}
#telefone{
    width: 100%;
    padding: 8px;
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 13px;
}
#endereco{
    width: 100%;
    padding: 8px;
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 13px;

}
input[type="submit"]{
background-color:#32CD99 ;
color: rgb(0, 0, 0);
padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
}
fieldset{
    border: none;
}